-- Địa điểm tham quan 
CREATE TABLE [dbo].[NOITHAMQUAN] (
    [ID] INT      IDENTITY (1, 1)      NOT NULL,
	[TENGOI]    NVARCHAR (MAX)    ,
    [TENNUOC] NVARCHAR(MAX)    ,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- Mỗi chi tiết nơi tham quan sẽ thuộc 1 nơi tham quan
CREATE TABLE [dbo].[CTNTQ] (
    [ID] INT      IDENTITY (1, 1)     NOT NULL,
	[IDTT] INT      NOT NULL,
	[TENGOI]    NVARCHAR (MAX)    ,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
--tour tham quan mã địa điểm hay mã nơi tham quan?
CREATE TABLE [dbo].[TOUR] (
    [ID] INT      IDENTITY (1, 1)      NOT NULL,
	[IDL] INT NOT NULL,
	[TENGOI]    NVARCHAR (MAX)    ,
	[DACDIEM] NVARCHAR (MAX)  ,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
--giá tour theo từng thời điểm
CREATE TABLE [dbo].[GIATOUR] (
    [ID] INT      IDENTITY (1, 1)     NOT NULL,
	[IDT] INT      NOT NULL,
	[GIATOUR] MONEY NOT NULL,
	[NGAYBD]     DATETIME,
    [NGAYKT]      DATETIME,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- tour tham quan nhiều địa điểm
CREATE TABLE [dbo].[TOURDD] (
	[ID] INT      IDENTITY (1, 1) NOT NULL,
    [IDT] INT      NOT NULL,
	[IDDD] INT NOT NULL,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
--Loại hình tour
CREATE TABLE [dbo].[LOAITOUR] (
    [ID] INT      IDENTITY (1, 1)   NOT NULL,
	[TENLOAI] NCHAR (255)  ,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
--đoàn du lịch
CREATE TABLE [dbo].[DOANDL] (
    [ID]    INT      IDENTITY (1, 1)     NOT NULL,
	[IDT] INT       NOT NULL,
    [TENGOI]       NVARCHAR (MAX) ,
    [NGAYBD]     DATETIME,
    [NGAYKT]      DATETIME,
	[TONGKINHPHI] MONEY,
    PRIMARY KEY CLUSTERED ([ID] ASC)
)
-- chi tiết trả tiền ( gồm nội dung đi, nơi tham quan
CREATE TABLE [dbo].[CTTT] (
	[ID]    INT      IDENTITY (1, 1)     NOT NULL,
    [IDDDL]      INT      NOT NULL,
	[IDLOAI]      INT      NOT NULL,
	[NOIDUNG] NVARCHAR(MAX),
	[THANHTIEN] MONEY,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- loại phiếu trả tiền( gồm chi phí khách sạn, ăn uống, đi lại, khác)
CREATE TABLE [dbo].[LOAITT] (
	[ID]    INT      IDENTITY (1, 1)     NOT NULL,
	[NOIDUNG] NVARCHAR(MAX),
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- nhân viên theo đoàn
CREATE TABLE [dbo].[NVTD] (
	[ID]    INT   IDENTITY (1, 1)   NOT NULL,
    [IDDDL] INT       NOT NULL,
	[IDNVU] INT NOT NULL,
	[IDNV]    INT NOT NULL,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- nhân viên
CREATE TABLE [dbo].[NHANVIEN] (
    [ID]    INT   IDENTITY (1, 1)   NOT NULL,
    [TENNV]   NVARCHAR (255) ,
    [HOTL]  NVARCHAR(255)    ,
    [SDT]  INT      ,
	[CMND]  INT      ,
	[GIOITINH] NVARCHAR(10),
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
--Khách hàng
CREATE TABLE [dbo].[KH] (
    [ID]   INT      IDENTITY (1, 1) NOT NULL,
    [HOTL] NVARCHAR (255)       NOT NULL,
	[TEN] NVARCHAR(255) ,
    [CMND] INT    ,
	[GIOITINH] NVARCHAR(10),
	[DIACHI] NVARCHAR(255),
	[SDT] INT,
	[QUOCTICH] NVARCHAR(255),
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
-- 1 khách hàng có thể tham gia nhiều tour
CREATE TABLE [dbo].[TGTOUR] (
	[ID]   INT      IDENTITY (1, 1) NOT NULL,
    [IDKH]   INT      NOT NULL,
	[IDDDL] INT       NOT NULL,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);
CREATE TABLE [dbo].[NHIEMVU] (
    [ID] INT      IDENTITY (1, 1)   NOT NULL,
	[NHIEMVU] NCHAR (255)  ,
    PRIMARY KEY CLUSTERED ([ID] ASC)
);

ALTER TABLE TOUR ADD FOREIGN KEY (IDl) REFERENCES LOAITOUR(ID)	
ALTER TABLE CTNTQ ADD FOREIGN KEY (IDTT) REFERENCES NOITHAMQUAN(ID)
ALTER TABLE TOURDD ADD FOREIGN KEY (IDT) REFERENCES TOUR(ID)	
ALTER TABLE GIATOUR ADD FOREIGN KEY (IDT) REFERENCES TOUR(ID)
ALTER TABLE TOURDD ADD FOREIGN KEY (IDDD) REFERENCES CTNTQ(ID)
ALTER TABLE CTTT ADD FOREIGN KEY (IDDDL) REFERENCES DOANDL(ID)
ALTER TABLE CTTT ADD FOREIGN KEY (IDLOAI) REFERENCES LOAITT(ID)
ALTER TABLE NVTD ADD FOREIGN KEY (IDDDL) REFERENCES DOANDL(ID)
ALTER TABLE NVTD ADD FOREIGN KEY (IDNVU) REFERENCES NHIEMVU(ID)
ALTER TABLE NVTD ADD FOREIGN KEY (IDNV) REFERENCES NHANVIEN(ID)
ALTER TABLE TGTOUR ADD FOREIGN KEY (IDKH) REFERENCES KH(ID)
ALTER TABLE TGTOUR ADD FOREIGN KEY (IDDDL) REFERENCES DOANDL(ID)
ALTER TABLE DOANDL ADD FOREIGN KEY (IDT) REFERENCES TOUR(ID)	


